/*font-family: 'Playfair Display', serif;*/
html {
	height: 100%;
}
body {
	margin: 0 !important;
	font-family: 'Nunito', sans-serif !important;
	background: #48BCA5;
	height: 100%;
}
h3 {
	color: #48BCA5;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	margin: 0px !important;
}
h1 {
	color: black;
    font-size: 36px;
    font-weight: 700;
    margin: 5px !important;
    margin-top: 0px !important;
}
a {
	color: black;
	transition: 0.3s;
	text-decoration: none;
}
a:hover {
	color: #48BCA5;
}
input:focus {
	outline: none;
}
form {
	text-align: left;
}
input[type="radio"] {
	display: none;
}
th {
	text-align: left !important;
}
table {
    table-layout : fixed;
    width: 100% !important;
}
select:focus {
	outline: none;
}
select {
	background: transparent;
    border: none;
   font-size: 12px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
}
#styled-select {
	border: 1px solid #48BCA5;
	display: inline-block;
}
.wide {
	width: 300px;
}
#navbar {
	background: #48BCA5;
	height: 70px;
	position: relative;
	top: 0px;
	width: 100%;
	z-index: 2;
}
#navbar #name {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	color: white;
	font-size: 24px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 80px;
}

#logo {
	border-radius: 50%;
	background: white;
	width: 50px;
	height: 50px;
	text-align: center;
	position: absolute;
	top: 10px;
	left: 20px;
	cursor: pointer;
}
#logo img {
	width: 40px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#search {
	position: absolute;
	top: 15px;
	right: 20px;
	background: white;
	width: 250px;
}
#search input {
	border: none;
	outline: none;
	height: 30px;
	width: calc(100% - 50px);
	padding: 5px 0px 5px 10px;
	font-family: 'Nunito';
}
#search input:focus{
	outline: none;
}
#search img {
	height: 18px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
#content {
	position: relative;
	margin-top: 50px;
	width: calc(60% - 80px);
	background: white;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 30px 40px 30px 40px;
	margin-bottom: 25px;

}
#content .header {
	text-align: center;
}
#content .section {
	text-align: center;
	margin-top: 25px;
}
#footer {
	position: absolute;
	bottom: 0px;
	text-align: center;
	padding: 10px 0px 10px 0px;
	width: 100%;
}

/* Homepage */
/* Override */
.content {
	background: none;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: calc(100% - 100px);
	text-align: center;
	margin-top: -20px;
}
#home h2 {
	font-size: 24px;
	color: white;
	margin-bottom: 50px;
}

#home .button {
	width: 170px;
	padding: 7px 0px 7px 0px;
	text-align: center;
	background: white;
	color: black;
	opacity: 0;
	display: inline-block;
	margin-right: 25px;
	font-size: 14px;
	transition: 0.3s;
	border-radius: 2px;
	cursor: pointer;
	font-weight: 700;
}
.button:last-child{
	margin-right: 0px !important;
}
#home .button:hover {
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.content .inner {
	position: relative;
	top: 50%;
	transform: translateY(calc(-50% + 0px));
}
.forms {
	position: relative;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: 600px;
    
}
.form {
	position: absolute;
}
.tab {
	height: 30px;
    line-height: 30px;
    text-align: center;
/*    text-transform: uppercase;*/
    font-size: 10px;
    width: 125px;
    position: absolute;
    background: white;    
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}
.tab:hover {
	color: #48BCA5;
}
.form-content {
	background: white;
    position: absolute;
    /* height: calc(100% - 25px); */
    top: 25px;
    /* width: 100%; */
    height: 450px;
    width: 450px;
    padding: 0px 75px 0px 75px;
}

.form.active .tab {
	-webkit-box-shadow: 0px -4px 8px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px -4px 8px -1px rgba(0,0,0,0.24);
    box-shadow: 0px -4px 8px -1px rgba(0,0,0,0.24);
	z-index: 2;
}
.form.active .form-content {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
	z-index: 1;
}
.form#majors .tab {
	left: 125px;
}
.form#careers .tab {
	left: 250px;
}
.form-content h1 {
	font-size: 32px;
	text-align: left;
	margin: 0px !important;
}
.form-content-inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.form-content-inner input[type="text"] {
	position: relative;
	width: 100%;
	height: 30px;
	outline: none;
	border: none;
	border-bottom: 3px solid black;
	font-size: 14px;
	font-family: "Nunito";
	margin-top: 20px;
	transition: 0.3s;
}
.form-content-inner input[type="text"]:focus {
	border-bottom: 3px solid #48BCA5;
}
.submit {
	height: 30px;
	width: 100px;
	font-family: "Nunito";
	background: #48BCA5;
	border: none;
	box-shadow: none;
	color: white;
	margin-left: auto;
	margin-left: calc(100% - 100px);
	font-size: 14px;
	cursor: pointer;
	margin-top: 20px;
	line-height: 30px;
	text-align: center;
}
#admission-rate, #average-salary, #careers-salary{
	width: 300px !important;
	height: 10px;
	border: 1px solid #48BCA5 !important;
}
.ui-widget-header {
	background: #48BCA5;
}
.ui-slider-handle{
	border-radius: 50%;
	border: 1px solid #48BCA5 !important;
	width: 25px !important;
	font-family: "Nunito";
	font-size: 8px;
	font-weight: bolder !important;
	height: 25px !important;
	line-height: 25px;
	text-align: center;
	background: white !important;
	top: -10px !important;
}
#average-salary .ui-slider-handle, #careers-salary .ui-slider-handle {
	width: 40px !important;
	border-radius: 5px;
}
.ui-slider-handle:focus {
	outline: none;
	background: #f6f6f6;
	border: 1px solid #48BCA5;
	color: black;
}
.form-row {
	margin-top: 20px;
	display: block;
	position: relative;
}
.radio-button {
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #48BCA5;
	cursor: pointer;
	transition: 0.3s;
	margin-left: 10px;
}
.label {
	font-size: 12px !important;
	display: inline-block;
}
.radio-button.active {
	background: #48BCA5;
}
.table-title {
	text-transform: capitalize;
	border-bottom: 2px solid #48BCA5;
}
.results#content {
	width: 80% !important;
}
.nav-buttons {
	position: absolute;
	right: 300px;
}
.nav-item {
	color: white;
	transition: 0.3s;
	line-height: 70px;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 12px;
	text-transform: uppercase;
}
.nav-item:hover {
	color: black;
}
#home-image {
	position: relative;
	width: 400px;
	display: block;
	margin: 0 auto;
}
#scrolltop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px 15px 10px 15px;
	background: white;
	color: black;
	font-size: 12px;
	text-align: center;
	-webkit-box-shadow: 0px -4px 8px -1px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px -4px 8px -1px rgba(0,0,0,0.24);
    box-shadow: 0px -4px 8px -1px rgba(0,0,0,0.24);
    cursor: pointer;
}
#ohno {
	height: 350px;
    position: absolute;
    /* margin: 0 auto; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    top: calc(50% + 30px);
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}