{% extends "entity_layout.html" %}
{% block title %}Computer Science{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
	<div class="header">
		<h3>Career</h3>
		<h1>{{ careers[0][1] }}</h1>
	</div>
	<div class="section">
		{% for i in range(2, columnNames|length) %}
        <b>{{ columnNames[i] }}</b>: {{ careers[0][i] }} <br>
   		{% endfor %}
	</div>
	{% if majors|length > 0 %}
	<div class="section">
		<h2>Majors</h2>
		{% for i in range(0, majors|length) %}
		<a href="../majors/{{ majors[i][1] }}" >{{ majors[i][0] }}</a> <br>
   		{% endfor %}
	</div>
	{% endif %}
	
{% endblock %}