{% extends "entity_layout.html" %}
{% block title %}Computer Science{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
	<div class="header">
		<h3>City</h3>
		<h1>{{ cities[0][1] }}: {{ cities[0][2] }}</h1>
	</div>
	<div class="section">
		{% for i in range(3, columnNames|length) %}
        <b>{{ columnNames[i] }}</b>: {{ cities[0][i] }} <br>
   		{% endfor %}
	</div>
	{% if universities|length > 0 %}
	<div class="section">
		<h2>Universities</h2>
		{% for i in range(0, universities|length) %}
        <a href="../universities/{{ universities[i][1] }}" >{{ universities[i][0] }}</a> <br>
   		{% endfor %}
	</div>
	{% endif %}
	
{% endblock %}