{% extends "entity_layout.html" %}
{% block title %}{{ majors[0][1] }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
<div class="results">
{% block content %}
	<div class="header">
		<h3>Major</h3>
		<h1>{{ majors[0][1] }}</h1>
	</div>
	<div class="section">
		{% for i in range(2, columnNames|length) %}
        <b>{{ columnNames[i] }}</b>: {{ majors[0][i] }} <br>
   		{% endfor %}
	</div>
	{% if careers|length > 0 %}
	<div class="section">
		<h2>Careers</h2>
		{% for i in range(0, careers|length) %}
        <a href="../careers/{{ careers[i][1] }}" >{{ careers[i][0] }}</a> <br>
   		{% endfor %}
	</div>
	{% endif %}
	{% if universities|length > 0 %}
	<div class="section">
		<h2>Universities</h2>
		{% for i in range(0, universities|length) %}
        <a href="../universities/{{ universities[i][1] }}" >{{ universities[i][0] }}</a> <br>
   		{% endfor %}
	</div>
	{% endif %}
{% endblock %}
</div>